<% include ./partials/header %>

<form action="/register" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="Submit" value="Sign up">
</form>
<% include ./partials/footer %>